<!DOCTYPE html>
<html ng-app="register_app" lang="zh">
<head>
    <title>User Register</title>
    <script src="http://cdn.bootcss.com/angular.js/1.3.0/angular.min.js" />
    <script src="/js/modules/register_app.js" />
</head>
<body>
    <form name="registerForm" ng-show="formshow" ng-controller="registerController">
        <div ng-show="resultmsg">{{resultmsg}}</div>
        <div>LoginName:<input ng-model="user.username" required></div>
        <div>Password:<input ng-model="user.password" type="password" required></div>
        <div>Email:<input ng-model="user.email" type="email" required></div>
        <div>Age:<input ng-model="user.age" type="number" ng-maxlength="3" ng-minlength="1"></div>
        <div><button ng-disabled="!registerForm.$valid" ng-click="addUser()">提交注册</button></div>
    </form>
</body>
</html>